.latest-title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 900;
}

.latest-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media (max-width: 768px) {
  .latest-title {
    font-size: 3.5rem;
  }

  .latest-projects {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
