:root {
  --primary-color: white;
  --secondary-color: rgb(177, 177, 177);
  --third-color: rgb(118, 118, 118);
  --fourth-color: rgb(72, 72, 72);
  --fifth-color: rgb(72, 72, 72);
  --primary-box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  --secondary-box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7);
  --main-font: "Roboto", sans-serif;
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/*GLOBALS*/

body {
  margin: 0;
  font-family: sans-serif;
  background: #000000;
  color: #fff;
  font-family: var(--main-font);
}

h1,
h2 {
  color: #333333;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.container {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

/*UTILITIES*/

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.center-text {
  text-align: center;
}

.text-white {
  color: white;
}

.margin-top-medium {
  margin-top: 10rem;
}

.margin-bottom-medium {
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}
